<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">New Post</h1>
  <div class="col-6 offset-3">
    <form action="/blogposts" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="blogpost[title]" required>
      </div>
      <input type="file" name="image" id="" multiple>
      <!-- <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input class="form-control" type="text" id="image" name="blogpost[image]" required>
      </div> -->
      <div class="mb-3">
        <label class="form-label" for="body">Body</label>
        <textarea class="form-control" type="text" id="body" name="blogpost[body]" required></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Post</button>
      </div>
    </form>
    <a href="/blogposts">All Blog Posts</a>
  </div>
</div>
