<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlogPosts In Depth</title>
</head>
<body>
  <h1><%= blogposts.title %></h1>
  <h4><%= blogposts.body  %></h4>
</body>
</html>
